Heart failure predictor flow.json
[{"id":"bcb5775d.d55908","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"640215e6.483ddc","type":"debug","z":"bcb5775d.d55908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":140,"wires":[]},{"id":"f0babd8b.9287f","type":"debug","z":"bcb5775d.d55908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":220,"wires":[]},{"id":"74d431bb.ff3af","type":"debug","z":"bcb5775d.d55908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":280,"wires":[]},{"id":"a3852850.344778","type":"debug","z":"bcb5775d.d55908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"1453ab86.f16034","type":"function","z":"bcb5775d.d55908","name":"global variables for form node","func":"global.set(\"heartbeat\",msg.payload.h)\nglobal.set(\"palpitations\",msg.payload.p)\nglobal.set(\"cholesterol\",msg.payload.c)\nglobal.set(\"bmi\",msg.payload.b)\nglobal.set(\"age\",msg.payload.a)\nglobal.set(\"exercise\",msg.payload.e)\nvar apikey = \"ClRyUKkWKDkqz5ecQjsdSF6ELcYc4iXbaF5lq0pwqAOj\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["640215e6.483ddc","bf63c10d.3baf5"]]},{"id":"3af55b1b.0c1114","type":"function","z":"bcb5775d.d55908","name":"sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["f0babd8b.9287f"]]},{"id":"29cd260f.adb66a","type":"function","z":"bcb5775d.d55908","name":"family","func":"global.set(\"family\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":280,"wires":[["74d431bb.ff3af"]]},{"id":"10d37208.c5398e","type":"function","z":"bcb5775d.d55908","name":"smoker","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":340,"wires":[["a3852850.344778"]]},{"id":"bf63c10d.3baf5","type":"http request","z":"bcb5775d.d55908","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":80,"wires":[["d43c6cf7.44d3a","7221cc33.8a86d4"]]},{"id":"d43c6cf7.44d3a","type":"debug","z":"bcb5775d.d55908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":140,"wires":[]},{"id":"7221cc33.8a86d4","type":"function","z":"bcb5775d.d55908","name":"","func":"var heb = global.get(\"heartbeat\")\nvar pal = global.get(\"palpitations\")\nvar cho = global.get(\"cholesterol\")\nvar bm = global.get(\"bmi\")\nvar ag = global.get(\"age\")\nvar sx = global.get(\"sex\")\nvar fm = global.get(\"family\")\nvar sk = global.get(\"smoker\")\nvar ex = global.get(\"exercise\")\nvar token = msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"heartbeat\",\"palpitations\",\"cholesterol\",\"bmi\",\"age\",\"sex\",\"family\",\"smoker\",\"exercise\"]],\"values\":[[heb,pal,cho,bm,ag,sx,fm,sk,ex]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":80,"wires":[["505da3ed.3042cc"]]},{"id":"505da3ed.3042cc","type":"http request","z":"bcb5775d.d55908","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/912b573e-704f-477a-b3a1-aadf17b5909d/predictions?version=2021-07-10","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":80,"wires":[["d879b3f4.33205","2c877bcd.4f5c64"]]},{"id":"d879b3f4.33205","type":"debug","z":"bcb5775d.d55908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":140,"wires":[]},{"id":"a0d75bdd.c7e708","type":"ui_dropdown","z":"bcb5775d.d55908","name":"","label":"Sex","tooltip":"","place":"Select option","group":"8925e5c1.b7cd58","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Female","value":"F","type":"str"},{"label":"Male","value":"M","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":220,"wires":[["3af55b1b.0c1114"]]},{"id":"6cafd951.893a78","type":"ui_dropdown","z":"bcb5775d.d55908","name":"","label":"Smoker Last 5 Years?","tooltip":"","place":"Select option","group":"8925e5c1.b7cd58","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":160,"y":340,"wires":[["10d37208.c5398e"]]},{"id":"59d4df2b.fea22","type":"ui_dropdown","z":"bcb5775d.d55908","name":"","label":"Family History?","tooltip":"","place":"Select option","group":"8925e5c1.b7cd58","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":280,"wires":[["29cd260f.adb66a"]]},{"id":"2a613621.41110a","type":"ui_form","z":"bcb5775d.d55908","name":"","label":"","group":"8925e5c1.b7cd58","order":4,"width":0,"height":0,"options":[{"label":"Avg Heartbeat / Min","value":"h","type":"number","required":true,"rows":null},{"label":"Palpitations / Day","value":"p","type":"number","required":true,"rows":null},{"label":"Cholesterol","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"b","type":"number","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null},{"label":"Exercise (min)","value":"e","type":"number","required":true,"rows":null}],"formValue":{"h":"","p":"","c":"","b":"","a":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":140,"wires":[["1453ab86.f16034"]]},{"id":"2c877bcd.4f5c64","type":"function","z":"bcb5775d.d55908","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":80,"wires":[["4ac17150.46294","bdae32cc.9144f"]]},{"id":"4ac17150.46294","type":"debug","z":"bcb5775d.d55908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":160,"wires":[]},{"id":"bdae32cc.9144f","type":"ui_text","z":"bcb5775d.d55908","group":"d1552761.b6d518","order":1,"width":0,"height":0,"name":"","label":"Heart Failure Prediction : ","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":100,"wires":[]},{"id":"8925e5c1.b7cd58","type":"ui_group","name":"Enter The Values","tab":"b842d019.aaf8b","order":3,"disp":true,"width":"6","collapse":false},{"id":"d1552761.b6d518","type":"ui_group","name":"","tab":"b842d019.aaf8b","order":4,"disp":true,"width":"6","collapse":false},{"id":"b842d019.aaf8b","type":"ui_tab","name":"Heart Failure Prediction","icon":"dashboard","order":1,"disabled":false,"hidden":false}]